{% extends "layout.html" %}
    
{% block content %}
<style>
    h1 {
        color: #3D348B;
        font-family: 'Enriqueta', arial, serif;
        font-size: 42px;
        font-weight: 800;
        text-align: left;

    }
    h2 {
        color:#F7B801;
        font-family: 'Enriqueta', arial, serif;
        font-weight: 600;
        text-align: left;
    }
    .card{
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 100%;
    background-color: #F7B801;
    margin:0px 0px -40px 0px;

}

</style>

<div style="background-color:#7678ED; padding-top: 1em; padding-bottom: 0.4em; ">
<h1> &nbsp;Hello</h1>
<h2>  &nbsp; Today is {{month}} {{ time.day }}{{ dateApd }} </h2> <!--hard code for now-->
</div>

<img src="../static/image/ourFace.png" width="100%" height="60%" style="margin:0px 0px -40px 0px;">

<div class="card-deck mt-4" style="padding-left: 1em; padding-right: 1em;">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h5 class="card-title" style="align-items: left;">{{status1}}: {{pill1Time}}</h5> 
        <h5 class="card-title" style="align-items: left; color:#F35B04;">{{pill1Name}}</h5> 
      </div>
    </div>
  </div>

  <div class="card-deck mt-4" style="padding-left: 1em; padding-right: 1em;">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h5 class="card-title" style="align-items: left;">{{status2}}: {{pill2Time}}</h5> 
        <h5 class="card-title" style="align-items: left; color:#F35B04;">{{pill2Name}}</h5> 
      </div>
    </div>
  </div>
  
{% endblock %}