{% extends "layout.html" %}
    
{% block content %}
<style>
    h1 {
        color: #3D348B;
        font-family: 'Enriqueta', arial, serif;
        font-size: 42px;
        font-weight: 800;
        text-align: left;

    }
    h2 {
        color:#F7B801;
        font-family: 'Enriqueta', arial, serif;
        font-weight: 600;
        text-align: left;
    }
</style>

<div style="background-color:#7678ED; padding-top: 1em; padding-bottom: 0.4em; ">
<h1> &nbsp;Hello</h1>
<h2>  &nbsp; Today is Sept {{ time.day }}th </h2> <!--hard code for now-->
</div>

<img src="../static/image/face.png" width = 100% alt="face" height = 100% style="position:relative; top:-100px;">


{% endblock %}