{% extends "layout.html" %}

{% block content %}
<style>
    h1 {
        color: #3D348B;
        font-family: 'Enriqueta', arial, serif;
        font-size: 42px;
        font-weight: 800;
        text-align: left;

    }
    h2 {
        color:#F7B801;
        font-family: 'Enriqueta', arial, serif;
        font-weight: 600;
        text-align: left;
    }

    .card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 100%;
    margin:0px 0px -20px 0px;
    }
</style>
<div style="background-color:#7678ED; padding-top: 1em; padding-bottom: 0.4em; ">
    <h1> &nbsp;Settings</h1>
</div>

<div class="card-deck mt-4" style="padding-left: 1em; padding-right: 1em;">
    <div class="card text-center mt-5" style="background-color: #3D348B;">
      <div class="card-body">
        <h5 class="card-title" style="color: #fff;">{{ pill1Name }}</h5> 
        <p class="card-text" style="color: #fff;">Total Number of Pills: {{pill1Count}} <br>
          Dosage per Day: {{pill1Count}}
        </p> 
        <a href="pill1" class="btn btn-primary">Edit</a>
      </div>
    </div>
    <div class="card text-center mt-5" style="background-color: #3D348B;">
      <div class="card-body">
        <h5 class="card-title" style="color: #fff;">{{ pill2Name }}</h5>
        <p class="card-text" style="color: #fff;">Total Number of Pills: {{pill2Count}} <br>
          Dosage per Day: {{pill2Count}}
        </p> 
        <a href="pill2" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
{% endblock %}